*{
   padding: 0%; 
   margin: 0%;
   font-family: 'Times New Roman', Times, serif ;
}
body{
    background-image:  url('image.jpg');
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
}    

.main{
    width: 400px;
   height: 450px;
   background-color: white;
   position: absolute;
   border: 5px solid black;
   border-radius: 6px;
}
.main input[type=text]{
    width: 88%;
    height: 80px;
    position: relative;
    top: 5%;
    margin: auto;
    border-radius: 6px;
    display: flex;
    color: black;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 5px solid black;
}
.btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #495250;
    border-radius: 6px;
    color: white;
}
.btn input[type='button']:hover{
    background-color: cyan;
    color: aliceblue;

}    